.column1 {
   float: left;
   width: 29%;
   padding: 10px;
   border: 1px solid black;
}

.column2 {
   float: left;
   width: 70%;
   padding: 10px;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

h2 {
   text-align: center;
   font-size: 15pt;
}

.column2 table,
.column2 th,
.column2 td {
   border: 1px solid black;
   border-collapse: collapse;
}

.column2 th,
.column2 td {
   padding: 5px;
}

.tooltip {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black;
 }
 
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
  
   position: absolute;
   z-index: 1;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
 }